.choose-training
  margin-bottom: 80px
  &__title
    margin-bottom: 20px
  &__buttons
    display: grid
    grid-template-columns: repeat(12, 1fr)
    gap: 20px
    @media (max-width: $tablet)
      gap: 8px
  &__button
    display: grid
    grid-template-columns: auto 40px
    gap: 20px
    text-transform: uppercase
    padding: 40px
    font-size: 1.5rem
    @media (max-width: $tablet)
      display: flex
      flex-direction: column-reverse
      padding: 20px
      justify-items: center
      font-size: 0.75rem
    &--walking
      grid-column: 1 / 5
    &--running
      grid-column: 5 / 9
    &--cardio
      grid-column: 9 / 13
    &--gym
      grid-row: 2
      grid-column: span 6
    &--swimming
      grid-row: 2
      grid-column: span 6
