.header
  display: flex
  justify-content: space-between
  align-items: center
  background-color: $white
  // background-color: darken($light-blue, 25%)
  // border-bottom: 2px solid darken($light-blue, 50%)
  padding: 0 20px
  box-shadow: 0 -1px 12px rgba($black, 10%)
  &__container
    display: flex
    width: 100%
    max-width: $container-max-width
    height: 100%
    padding: 8px 0
    margin: auto
    justify-content: space-between
    align-items: center
    gap: 20px
    z-index: 10
