.header
  position: fixed
  top: 0
  display: flex
  width: 100%
  justify-content: space-between
  align-items: center
  background-color: $white
  padding: 0 20px
  box-shadow: $shadow-light
  z-index: 30
  &__container
    display: flex
    width: 100%
    max-width: $container-max-width
    height: 100%
    padding: 8px 0
    margin: auto
    justify-content: space-between
    align-items: center
    gap: 20px
    z-index: 10
