.meals
  // margin-bottom: 20px
  padding-top: 20px
  &__title
    grid-column: 1 / -1
    margin: 0
    font-size: 24px
  &__buttons
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: repeat(2, 60px)
    gap: 20px
    @media (max-width: $mobile)
      padding: 0px
      gap: 8px
      grid-template-rows: repeat(2, 40px)
  &--popup
    margin: 0
    padding-top: 0
    & .meals__buttons
      @media (max-width: $mobile)
        justify-content: center
        grid-template-columns: repeat(2, 120px)
