.meals
  // padding-top: 80px
  margin-bottom: 80px
  &__title
    margin-bottom: 20px
  &__buttons
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: repeat(2, 160px)
    gap: 40px
    @media (max-width: $mobile)
      grid-template-columns: repeat(2, 140px)
      grid-template-rows: repeat(2, 140px) 60px
      padding: 0px
