.meal-item
  display: grid
  grid-template-columns: 400px auto
  gap: 40px
  @media (max-width: $tablet)
    grid-template-columns: 1fr
  @media (min-width: $desktop)
    grid-template-columns: 400px auto 400px
  &__title
    grid-column: 1 / -1
  &__type
    font-size: 24px
    @media (max-width: $tablet)
      display: block
  &__image-wrapper
    @media (max-width: $mobile)
      display: flex
      justify-content: center
      align-items: center
  &__picture
    border-radius: 24px
    height: auto
    width: 100%
  &__alt-picture
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    height: 100%
    max-height: 400px
    margin: 0
    border: 2px solid $black
    border-radius: 24px
    font-size: 24px
    text-align: center
    @media (max-width: $tablet)
      padding: 40px 10px
  &__buttons
    display: grid
    max-height: 150px
    grid-template-columns: 0.5fr 1.5fr
    grid-column: 1 / -1
    gap: 20px
    @media (max-width: $tablet)
      grid-row: 3
    @media (min-width: $desktop)
      grid-column: 3 / 4
    @media (max-width: $mobile)
      gap: 8px
  &__recipe-wrapper
    display: flex
    max-width: 1020px
    margin-bottom: 40px
    flex-direction: column
    gap: 20px
    @media (min-width: $tablet)
      grid-column: 1 / -1
      grid-row: 4
  &__recipe-list
    display: flex
    flex-direction: column
    gap: 16px
    margin: 0
  &__button
    max-height: 60px
    text-transform: uppercase
    font-size: 1rem
    cursor: pointer
    transition: $hover-transition
    grid-column: 1 / 3
    @media (max-width: $mobile)
      font-size: 1rem
    &--refresh
      grid-column: 1
    &--back
      grid-column: 2
    &--add-new-meal
      grid-column: 1 / -1
