.dashboard
  display: flex
  gap: 16px
  transition: 0.3s
  @media (max-width: $tablet)
    flex-direction: column
    align-items: center
    gap: 8px
    justify-content: center
  @media (max-width: $mobile)
    flex-direction: row

.dot
  z-index: 2
  position: absolute
  height: 34px
  width: 34px
  border-radius: 100%
  transition: transform 0.3s, all 0.3s
  @media (max-width: $mobile)
    width: 21.25px
    height: 21.25px

.dot:after
  content: ''
  position: absolute
  height: 34px
  width: 34px
  background: transparent
  border-radius: 100%
  box-shadow: 3px 0px 3px rgba(0, 0, 0, 0.24)
  transition: transform 0.3s, all 0.3s
  @media (max-width: $mobile)
    width: 21.25px
    height: 21.25px


.ring-wrapper
  position: relative
  width: 320px
  height: 320px
  @media (max-width: $mobile)
    width: 200px
    height: 200px

.ring
  position: absolute
  transform: translate(-50%, -50%)
  top: 50%
  left: 50%
  border-radius: 100%

.ring:before
  content: ''
  position: absolute
  height: 100%
  width: 100%
  border-radius: 100%


.ring-wrapper:after
  content: ''
  position: absolute
  transform: translate(-50%, -50%)
  top: 50%
  left: 50%
  height: 40px
  width: 40px
  background: $white
  border-radius: 100%
  @media (max-width: $mobile)
    width: 25px
    height: 25px


.progress-ring
  position: absolute
  transform: translate(-50%, -50%)
  top: 50%
  left: 50%


.progress-ring__circle
  transform: rotate(270deg)
  transform-origin: 50% 50%
  transition: stroke-dashoffset 0.3s ease, stroke 0.3s ease


/* Themes */
.calories.ring
  height: 316px
  width: 316px
  background: rgba(255, 241, 47, 0.2)
  @media (max-width: $mobile)
    width: 197.5px
    height: 197.5px

.calories.ring:before
  box-shadow: 1px 0px 3px #fff12f7a

.calories.ring:after
  box-shadow: inset 1px 0px 3px rgba(255, 241, 47, 0.48)


.proteins.ring
  height: 247px
  width: 247px
  background: rgba(246, 51, 122, 0.2)
  @media (max-width: $mobile)
    width: 154.375px
    height: 154.375px

.proteins.ring:before
  box-shadow: 1px 0px 3px rgba(246, 51, 122, 0.48)

.proteins.ring:after
  box-shadow: inset 1px 0px 3px rgba(246, 51, 122, 0.48)

.carbs.ring
  height: 178px
  width: 178px
  background: rgba(21, 194, 224, 0.2)
  @media (max-width: $mobile)
    width: 111.25px
    height: 111.25px

.carbs.ring:after
  box-shadow: inset 1px 0px 3px rgba(21, 194, 224, 0.48)

.fats.ring
  height: 109px
  width: 109px
  background: rgba(111, 228, 48, 0.2)
  @media (max-width: $mobile)
    width: 68.125px
    height: 68.125px

.fats.ring:after
  box-shadow: inset 1px 0px 3px rgba(111, 228, 48, 0.48)

.info-wrapper
  display: grid
  align-self: start
  gap: 16px
  @media (max-width: $tablet)
    grid-template-columns: repeat(4, 1fr)
    align-self: unset
    gap: 8px
  @media (max-width: $mobile)
    grid-template-columns: 1fr
    align-self: unset
    gap: 0

.info
  display: flex
  flex-direction: column
  font-size: 24px
  font-weight: 500
  margin: 6px
  &__name
    font-size: 16px
  &__accent
    margin: 0
    & span
      font-size: 18px
  @media (max-width: $mobile)
    font-size: 20px
    &__name
      font-size: 12px
    &__accent
      & span
        font-size: 16px
