.upload
  &__drop
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    min-height: 120px
    border-radius: 8px
    border: dashed 4px $black
    cursor: pointer
  &__button
    width: 100%
    border-radius: 8px
    border: dashed 3px $black
    &:hover
      background-color: lighten($black, 90%)
    &:focus-visible
      background-color: lighten($black, 90%)
