.user-actions
  display: flex
  flex-direction: column
  grid-column: 1 / -1
  width: 100vw
  &__title-wrapper
    display: flex
    justify-content: center
    align-items: center
    padding: 20px
    gap: 40px
    background-color: $black
  &__title
    text-align: center
    color: $white
  &__add-btn
    color: $white
    &:hover,
    &:focus-visible
      scale: 1.1
  &__group-header
    display: flex
    flex-direction: column
    &--opened
      & .user-actions__date-wrapper
        background-color: darken($white, 30%)
      & .user-actions__sublist
        background-color: darken($white, 15%)
    & .user-actions__date-wrapper
      display: flex
      max-height: 40px
      padding: 10px 40px
      border-bottom: 2px solid black
      justify-content: space-between
      cursor: pointer
      &:hover,
      &:focus-visible
        background-color: darken($white, 25%)
  &__date
    margin: auto
  &__list
    @include list-reset
    display: flex
    flex-direction: column
  &__sublist
    @include list-reset
  &__item
    display: flex
    justify-content: space-between
    border-bottom: 2px solid black
    overflow: hidden
    &:hover
      & > .user-actions__item-wrapper
        min-width: unset
      & > .user-actions__remove-btn
        transform: translateX(0)
        padding: 0 50px
      & .user-actions__item-link
        max-width: 210px
        overflow: hidden
        text-overflow: ellipsis

  &__item-wrapper
    min-width: 100%
    width: 100%
    display: flex
    flex-direction: column
    padding: 10px 40px
    gap: 8px
    z-index: 1
    @media (max-width: $mobile)
      padding: 10px
      font-size: 12px
  &__item-link
    @include link-reset
    display: block
    white-space: nowrap
    max-width: 400px
    transition: $hover-transition
    font-weight: 600
    font-size: 1rem
    &:hover
      opacity: 0.6
    &:active
      opacity: 0.3
  &__meal-maintenance
    display: flex
    margin: 0
    gap: 8px
  &__remove-btn
    transform: translateX(100%)
    box-shadow: inset 8px 0 8px -4px $black
