.user-actions
  display: flex
  flex-direction: column
  grid-column: 1 / -1
  width: 100vw
  &__title-wrapper
    display: flex
    justify-content: center
    align-items: center
    padding: 20px
    gap: 40px
    background-color: $black
  &__title
    text-align: center
    color: $white
  &__add-btn
    color: $white
    &:hover,
    &:focus-visible
      scale: 1.1
  &__head
    display: grid
    padding: 10px 40px
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr))
    background-color: lighten($black, 25%)
    color: lighten($white, 20%)
    @media (max-width: $mobile)
      grid-template-columns: repeat(auto-fit, minmax(60px, 1fr))
      padding: 10px
    & span:last-child
      margin-left: auto
  &__group-header
    display: flex
    flex-direction: column
    &--opened
      & div
        background-color: darken($white, 30%)
      & .user-actions__sublist
        background-color: darken($white, 15%)
    & div
      display: flex
      max-height: 40px
      border-bottom: 2px solid black
      padding: 10px 40px
      justify-content: space-between
      cursor: pointer
      &:hover,
      &:focus-visible
        background-color: darken($white, 25%)
    & p
      margin: auto
  &__list
    @include list-reset
    display: flex
    flex-direction: column
  &__sublist
    @include list-reset
  &__item
    display: grid
    padding: 10px 40px
    border-bottom: 2px solid black
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr))
    align-items: center
    @media (max-width: $mobile)
      grid-template-columns: repeat(auto-fit, minmax(60px, 1fr))
      padding: 10px
      font-size: 12px
    & span:last-child
      margin-left: auto
    // &--breakfast
    //   background-color: $breakfast
    // &--lunch
    //   background-color: $lunch
    // &--dinner
    //   background-color: $dinner
    // &--snack
    //   background-color: $snack
    &-link
      @include link-reset
      font-weight: 600
      &:hover
        opacity: 0.6
      &:active
        opacity: 0.3
