.user
  display: grid
  padding-top: 40px
  @media (max-width: $mobile)
    padding-top: 20px
  &__wrapper
    display: grid
    max-width: $container-max-width
    margin: auto
    // gap: 40px
    padding-inline: 40px
    @media (max-width: $tablet)
      padding-inline: 20px
      grid-template-columns: 1fr
  &__avatar-wrapper
    width: 120px
    height: 120px
    overflow: hidden
    border: 4px solid darken($light-blue, 25%)
    border-radius: 50%
  &__name
    font-size: 24px
  &__info
    display: grid
    justify-items: center
    gap: 24px
    @media (min-width: $tablet)
      gap: 16px
      grid-template-columns: repeat(2, 1fr)
  &__today
    grid-row: 3
    grid-column: 1 / -1
    @media (min-width: $desktop)
      grid-row: 2
  &__settings
    width: 100%
    grid-row: 2
    @media (min-width: $tablet)
      grid-column: 2 / -1
      grid-row: 1
  &__settings
  &__editable-wrapper
    display: grid
    margin: 0
    grid-template-columns: minmax(0px, 200px) minmax(50px, 350px) 60px
    align-items: center
    // @media (max-width: $desktop) and (min-width: $tablet)
    //   display: flex
    //   flex-direction: column
    //   gap: 8px
    @media (max-width: $desktop) and (min-width: $tablet)
      grid-template-columns: auto 60px
    @media (max-width: $mobile)
      grid-template-columns: auto 60px
  &__editable-title
    font-size: 1rem
    @media (max-width: $desktop) and (min-width: $tablet)
      grid-column: 1 / -1
    @media (max-width: $mobile)
      grid-column: 1 / -1
  &__editable-info
    padding: 10px
    margin: 0
    border: none
    background-color: transparent
    font-size: 1.2rem
    white-space: nowrap
    @media (max-width: $desktop) and (min-width: $tablet)
      padding: 0
    @media (max-width: $mobile)
      padding: 0
    &--on
      border-radius: 8px
      background-color: lighten($light-blue, 5%)
      appearance: none
      &:focus-visible
        outline: none
    &--select
      @include custom-select
  &__editable-weight
    display: flex
    gap: 10px
    & input
      max-width: 50px
  &__targets
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr))
    gap: 20px
  &__title
    margin-bottom: 40px
    grid-row: 1
    grid-column: 1 / -1
  &__incription
    padding-inline: 10px
    margin-bottom: 40px
