$main-fonts: "Arial", sans-serif

$dark-green: #198754
$green: #34C759
$yellow: #f4d35e
$light-red: #e27d60
$light-blue: #ffffff
// $light-blue: #85c1e9
$white: #ffffff
$gray: #a1a1a1
$dark-gray: #585858
$light-gray: #bdbdbd
$black: #000
$white: #fff

$breakfast: #f4a261
$lunch: #2a9d8f
$dinner: #264653
$snack: #e76f51

$walking: #6E9B62
$running: #E94E77
$cardio: #F39C12
$gym: #34495E
$swimming: #3498DB

$regular: 400
$medium: 500
$semi-bold: 600
$bold: 700
$extra-bold: 800

$shadow-light: 0 -1px 12px rgba(0, 0, 0, 0.1)
$shadow-middle: 0 -1px 12px 4px rgba(0, 0, 0, 0.1)

$container-max-width: 1200px
$desktop: 1080px
$shop-grid: 875px
$tablet: 768px
$mobile: 490px

$hover-transition: 0.3s
$popup-transition: 0.6s

@mixin inter-regular
  font-family: "Inter", $main-fonts
  font-weight: $regular

@mixin inter-semi-bold
  font-family: "Inter", $main-fonts
  font-weight: $semi-bold

@mixin inter-medium
  font-family: "Inter", $main-fonts
  font-weight: $medium

@mixin flex-column
  display: flex
  flex-direction: column

@mixin list-reset
  padding: 0
  margin: 0
  list-style-type: none

@mixin link-reset
  padding: 0
  margin: 0
  text-decoration: none
  color: $black
  transition: 0.3s

@mixin button-reset
  border: none
  background-color: transparent
  padding: 0
  cursor: pointer

@mixin burger-line
  display: block
  width: 40px
  height: 4px
  background-color: $white
  border-radius: 4px

@mixin custom-select
  -webkit-appearance: none
  -moz-appearance: none
  background-image: url("../../img/icons/down-icon.svg")
  background-repeat: no-repeat
  background-position: 100% center

@keyframes loader-animation
  0%
    transform: scale(1)
  20%
    transform: scale(1.2)
  40%
    transform: scale(0.8)
  60%
    transform: scale(1.1)
  80%
    transform: scale(0.9)
  100%
    transform: scale(1)

@keyframes loader-disappearing
  0%
    transform: scale(1)
  100%
    transform: scale(100)
    color: $light-blue
    opacity: 0

@keyframes button-appearing-top-left
  0%
    opacity: 0
    transform: translateX(-100vw) translateY(-10vh)
  100%
    opacity: 1
    transform: translateX(0) translateY(0)

@keyframes button-appearing-top-right
  0%
    opacity: 0
    transform: translateX(100vw) translateY(-10vh)
  100%
    opacity: 1
    transform: translateX(0) translateY(0)

@keyframes button-appearing-left
  0%
    opacity: 0
    transform: translateX(-100vw)
  100%
    opacity: 1
    transform: translateX(0)

@keyframes button-appearing-right
  0%
    opacity: 0
    transform: translateX(100vw)
  100%
    opacity: 1
    transform: translateX(0)

@keyframes button-appearing-bottom
  0%
    opacity: 0
    transform: translateY(100vh)
  100%
    opacity: 1
    transform: translateY(0)

@keyframes button-appearing-top
  0%
    opacity: 0
    transform: translateY(-100vh)
  100%
    opacity: 1
    transform: translateY(0)

*,
*::after,
*::before
  box-sizing: border-box

html
  overflow-x: hidden

body
  margin: 0
  font-family: $main-fonts
  margin: auto
  min-height: 100%
  overflow-x: hidden

.visually-hidden
  position: absolute

  width: 1px
  height: 1px
  margin: -1px
  border: 0
  padding: 0

  basic-extra-light-space: nowrap
  clip-path: inset(100%)
  clip: rect(0 0 0 0)
  overflow: hidden

.title
  @include inter-semi-bold
  margin: 0
  &--1
    font-size: clamp(2.9375rem, 2.3045rem + 2.9787vw, 4.6875rem)
    line-height: 1.2
  &--2
    font-size: clamp(1.875rem, 1.4681rem + 1.9149vw, 3rem)
  &--3
    font-size: clamp(0.875rem, 0.7394rem + 0.6383vw, 1.25rem)
  &--secondary
    text-align: center
  &--mobile
    font-size: clamp(0.875rem, 0.7394rem + 0.6383vw, 1.25rem)

.button
  @include link-reset
  display: flex
  padding: 16px
  border: 2px solid black
  justify-content: center
  align-items: center
  text-transform: uppercase
  border-radius: 8px
  font-size: 18px
  cursor: pointer
  background-color: $white
  color: $black
  @media (max-width: $tablet)
    font-size: 16px
  &:hover,
  &:focus-visible
    background-color: $black
    color: $white
    outline: none
  &--google
    gap: 8px
    width: 100%
  &--submit
    background-color: $black
    color: $white
    &:hover,
    &:focus-visible
      background-color: $white
      color: $black
  &--icon
    border: none
    background-color: transparent
    &:hover,
    &:focus-visible
      scale: 1.2
      border: none
      background-color: transparent
      color: $black
  &--reset
    @include button-reset

.main
  position: relative
  width: 100%
  margin: auto
  flex-grow: 1
  transition: 0.3s
  &:not(:has(.user))
    max-width: $container-max-width

.page-container
  position: relative
  display: flex
  flex-direction: column
  min-height: 100vh
  background-color: $light-blue

.icon
  transition: $hover-transition
  height: 20px
  &--rotated
    transform: rotate(180deg)

.section
  padding-inline: 20px
